* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
    margin-left: 40px;
}

header {
    width: 100%;
    height: 615px;
    background-color: #290000;
    color: white;
    border-top: 7px solid #76c38f;
}


.menu-left {
    float: left;
    margin-left: 120px;
    margin-top: 45px;
}

.fmenu {
    font-size: 1.75em;
}

.smenu {
    font-size: 0.69em;
}

.menu-right {
    float: right;
    margin-right: 120px;
    margin-top: 45px;

}

.rmenu {
    background-color: #76c38f;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.htext {
    float: left;
    margin-top: 50px;
    margin-left: 120px;
}

.hround {
    height: 420px;
    width: 420px;
    background-color: #333333;
    border-radius: 430px;
    float: right;
    margin-right: 120px;
    line-height: 420px;
    text-align: center;
    margin-top: 50px;
    border: 20px solid #6b6b6b;
}

.htext1 {
    font-size: 2.875em;
    margin-top: 20px;
}

.htext2 {
    font-size: 0.75em;
    line-height: 1.5em;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    opacity: 0.7;
}

.hbutton {
    font-size: 0.8em;
    margin-top: 20px;
}